---
import CardIcon from '../components/CardIcon.astro';
import Clock from '../components/icons/Clock.astro';
import Desktop from '../components/icons/Desktop.astro';
import Start from '../components/icons/Start.astro';
import Arrow from '../components/icons/Arrow.astro';
import Calendar from '../components/icons/Calendar.astro';
import Accordion from '../components/Accordion.jsx';
import Layout from '../layouts/Layout.astro';

import {ProgramData} from "./../libs/data.ts"
---

<Layout title="Practice Growth Bootcamp">
	<main>
    <section class="h-[80vh] relative mt-24">
      <div class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto h-full flex">
        <div class="w-1/2 flex justify-start items-center h-full pr-10">
          <div class="z-10">
            <h1 class="text-[color:var(--accent)] font-medium text-6xl mb-5">Practice Growth <span class="block italic">Bootcamp</span></h1>
            <p class="lora font-medium italic text-2xl mb-8">Llevá tu consultorio al siguiente nivel</p>
            <p class="mb-10">El programa busca desarrollar nuevas habilidades para gerenciar su práctica y llevarla a otro nivel. Se enfoca en optimizar recursos, maximizar la rentabilidad y mejorar la experiencia del paciente para lograrlo</p>
            <button class="center py-2 px-12 rounded-full bg-[var(--accent)] text-white font-bold">Quiero inscribirme!</button>
          </div>
          <img class="object-cover h-full w-1/2 absolute left-0 z-0"  src="./main-img-2.webp" alt="">
        </div>
        <div class="w-1/2">
          <img class="object-cover h-full w-1/2 absolute" src="./main-img.webp" />
        </div>
      </div>
    </section>
    <section class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto">
      <ul class="my-28 flex justify-between">
        <CardIcon small='Inicio y duración' body='13 de Mayo al 24 de Junio 12hs.'>
          <Clock slot='icon' class="mb-8"/>
        </CardIcon>
        <CardIcon small='MODALIDAD' body='Online sincrónica'>
          <Desktop slot='icon' class="mb-8"/>
        </CardIcon>
        <CardIcon small='DÍAS Y HORARIOS' body='Lunes de 19:30 a 21:30hs.'>
          <Calendar slot='icon' class="mb-8"/>
        </CardIcon>
      </ul>
    </section>
    <section class="px-10 w-full">
      <img class="object-cover w-full" src="./img-section.webp" alt="">
    </section>
    <section class="fundamentos-programa 2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto my-36">
      <h2  class="text-[color:var(--accent)] font-medium text-5xl mb-12">Fundamentos del programa</h2>
      <div class="flex gap-10">
      <div class="w-1/2">
        <p class="font-bold mb-6">Muchos profesionales de la salud son excelentes y sin embargo no
        obtienen los resultados económicos que esperan.
        </p>  
        <p class="mb-6">
          En un entorno cada vez más complejo, competitivo y en constante
          cambio, suele llegar un momento en el que se encuentran frente a
          grandes desafíos en áreas como Liderazgo, Marketing,
          Administración, Finanzas, Ventas y Operaciones, y muchas veces se
          sienten solos y que no están preparados para enfrentarlos.          
        </p>  
      </div>
      <div class="w-1/2 mb-6">
        <p class="mb-6">
          No importa el momento de la carrera en el que se encuentre, en
          este programa encontrará propuestas innovadoras y disruptivas
          para enfrentar estos desafíos.
        </p>  
        <p class="mb-6">
          Buscamos crear líderes que puedan asumir los desafíos que la
          salud hoy plantea.       
        </p>  
      </div>  
      </div>
    </section>
    <section class="objetivos 2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto my-36">
      <div class="flex gap-10">
      <div class="w-1/2">
        <h2  class="text-[color:var(--accent)] font-medium text-5xl mb-12">Objetivos</h2>
        <p class="mb-6">El objetivo es ayudar a profesionales de la salud a alcanzar el éxito,
          cualquiera sea la definición de éxito que tengan. 
        </p>  
        <p class="mb-6">
          Para algunos
          puede ser acceder a más pacientes, para otros generar la misma
          facturación trabajando menos y para otros facturar más sin que ello
          implique más horas de trabajo.                  
        </p>  
        <p class="mb-6 font-bold">
          El programa busca desarrollar nuevas habilidades para gerenciar su
          práctica y llevarla a otro nivel. Se enfoca en optimizar recursos,
          maximizar la rentabilidad y mejorar la experiencia del paciente
          para lograrlo.          
        </p>  
      </div>
      <div class="w-1/2 mb-6">
        <img class="w-full" src="./doctor.webp" alt="">
      </div>  
      </div>
    </section>
    <section class="incluye gradient-bg py-32">
      <div class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto flex">
        <h2 class="w-1/3 text-5xl text-[color:var(--accent)] font-medium">El Programa <span class="block">incluye:</span></h2>
        <div class="w-2/3">
          <ul class="mb-10">
            {ProgramData?.map(item => (
            <li>
              <div class="flex items-center gap-5 py-4">
                <Arrow /><p class="text-xl lora">{item}</p>
              </div>
              <hr class="border-t-[1px] border-[var(--accent)]  text-[color:var(--acccent)] " />
            </li>
            ))}
          </ul>
          <button class="center py-2 px-12 rounded-full bg-[var(--accent)] text-white font-bold">Quiero inscribirme!</button>
        </div>
      </div>
    </section>
    <section class="perfil 2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto my-32">
      <h2 class="text-5xl text-[color:var(--accent)] font-medium mb-8">Perfil</h2>
      <p class="italic leading-[1.3] text-xl lora">Dirigido a Profesionales de la salud de cualquier especialidad que:</p>
      <ul class="flex [&>li]:w-1/3 [&>li]:pr-12 [&>li]:mt-8 [&>li]:italic flex-wrap mt-8">
        <li><Start class="w-4 mb-2"/>Quieren generar un crecimiento económico y no saben cómo lograrlo.</li>
        <li><Start class="w-4 mb-2"/>Necesitan desarrollar nuevas habilidades para alcanzar sus objetivos.</li>
        <li><Start class="w-4 mb-2"/>Sienten que la mera intuición no es suficiente para la toma de decisiones.</li>
        <li><Start class="w-4 mb-2"/>Son conscientes de que el mundo cambió, que tienen que cambiar para ser competitivos pero no saben por dónde empezar.</li>
        <li><Start class="w-4 mb-2" />Están abiertos a aprender, a ampliar su mirada, a cambiar su mindset y a escuchar nuevas propuestas e ideas.</li>
        <li><Start class="w-4 mb-2" />Están dando los primeros pasos en su carrera pero quieren aplanar la curva de aprendizaje y evitar el método de prueba y error para lograr sus objetivos.</li>
      </ul>
    </section>
    <section class="w-full">
      <img class="object-cover w-full" src="./main-img-3.webp" alt="">
    </section>
    <section class="estudio 2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto my-32">
      <h2 class="text-5xl text-[color:var(--accent)] font-medium mb-8">Plan de estudio</h2>
      <Accordion client:visible/>
      <button class="center py-2 px-12 rounded-full bg-[var(--accent)] text-white font-bold mt-10">Quiero inscribirme!</button>
    </section>
    <section class="about 2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto mb-32 mt-48 flex gap-10">
      <div class="w-1/2 [&>p]:mb-6 ">
        <small class="italic text-xl">Directora</small>
        <h3 class="text-6xl text-[color:var(--accent)] mb-8 font-medium">Paz Martorell</h3>
        <p class="italic lora">Especialista en Marketing Médico, Patient Experience 
          y Healthcare Management.</p>
        <p class="italic lora">
          Directora del MicroMaster de Liderazgo & 
          Satisfacción de Pacientes de la UCA.</p>
        <p>Fundadora de MedAdviser, consultora que hace más de 10 años acompaña a médicos para que transformen la forma en la que prestan sus servicios, para que operen negocios más rentables, brinden una mejor experiencia a sus pacientes y disfruten más de su profesión.</p>
        <p>Lic. en Administración de Empresas y Contadora Pública (UCA). Postgraduate Diploma in Digital Business & Digital Marketing (Columbia Business School). Coach Ontológico (Newfield Network).</p>
        <p>
          Más de 10 años de experiencia en el mundo corporativo en empresas como Arcor, L Oreal y Allergan.</p>
        <p>
          Speaker en Congresos, Sociedades Médicas, Hospitales y reuniones científicas de reconocidos Laboratorios.</p>
          <button class="center py-2 px-20 mt-10 rounded-full bg-[var(--accent)] text-white font-bold">Contactar</button>
      </div>
      <div class="w-1/2 h-full">
        <img class="object-cover w-full" src="/main-img-4.webp" alt="">
      </div>
    </section>
	</main>
</Layout>

<style>
  .gradient-bg {
    background: var(--accent-gradient);
  }
</style>
