---
interface Props {
	small: string;
	body: string;
}

const { small, body } = Astro.props;
---

<li class="flex flex-col items-center w-72 text-center">
    <slot name="icon" />
    <small class="text-[color:var(--accent)] uppercase mb-1">{small}</small>
		<p class="text-2xl">
			{body}
		</p>
</li>
<style>
	
</style>
