---
import Slider from './Slider.jsx';
---
<section class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto mb-20 md:mb-32 md:mt-48 mt-32 px-6">
    <h3 class="md:text-6xl text-5xl text-[color:var(--accent)] md:mb-16 mb-6 font-medium lore animation">Testimonios</h3>
    <Slider client:load />
</section>