---
import Logo from './icons/Logo.astro';
---
<header class="min-h-24 fixed w-full top-0 z-50 bg-white flex justify-center border-b-[1px] border-[var(--accent)] transition-all duration-500">
  <div class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm w-full m-auto flex justify-between items-center">
    <Logo />
    <nav>
      <ul class="flex justify-center items-center">
        <li><a href="fundamentos-programa" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Fundamentos del programa</a></li>
        <li><a href="objetivos" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Objetivos</a></li>
        <li><a href="incluye" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Qué incluye ?</a></li>
        <li><a href="perfil" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Perfil</a></li>
        <li><a href="estudio" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Plan de estudio</a></li>
        <li><a href="about" class="scrolto hover:bg-[var(--accent-bg-light)] p-4 rounded-xl">Sobre mi</a></li>
        <li><button class="center py-2 px-6 rounded-full bg-[var(--accent)] text-white font-bold ml-4">Inscribirme</button></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header-h {
    min-height: 4rem;
  }
</style>

<script>
  let header = document.querySelector("header");
  let buttons = document.querySelectorAll("a.scrolto");

  const scrollIntoViewWithOffset = (selector: string, offset:number) => {
    window.scrollTo({
      behavior: 'smooth',
      top:
      (document.querySelector(selector) as HTMLElement).getBoundingClientRect().top -
      document.body.getBoundingClientRect().top -
      offset,
    })
  }

  buttons?.forEach(button => {
    button.addEventListener("click", (e: Event) => {
      e.preventDefault()
        const target = (e.currentTarget as HTMLAnchorElement)?.getAttribute('href')

        scrollIntoViewWithOffset(`.${target}`, 120)
    })
  })

  window.addEventListener("scroll", (e: Event) => {
    (window.scrollY > 600) 
    ? header?.classList.add("header-h")
    : header?.classList.remove("header-h")
  })
</script>