---
const { class: className, img, alt, ...rest } = Astro.props
---

<section class:list={['w-full lg:h-[50rem] ', className]} {...rest}>
  <img class="object-cover w-full h-full" src={img} alt={alt} />
</section>