---
import Instagram from '../components/icons/Instagram.astro';
import Header from '../components/Header.astro';
import '@fontsource/lora/400.css';
import '@fontsource/lora/500.css';
import '@fontsource/lora/400-italic.css';
import '@fontsource/lora/500-italic.css';
import '@fontsource/montserrat/300.css';
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/700.css';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<footer>
			<div class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto md:my-20 my-14 flex md:flex-row flex-col px-6 justify-between">
				<ul class="flex md:flex-row flex-col md:gap-10 gap-6 md:mb-0 mb-10">
					<li><a target="_blank" href="https://medadviser.com.ar/" class="italic">MedAdviser.com.ar</a></li>
					<li><a target="_blank" href="mailto:info@pazmartorell.com.ar" class="italic">info@pazmartorell.com.ar</a></li>
					<li><a target="_blank" href="https://wa.me/5491124748639" class="italic">+54 9 11 2474-8639</a></li>
				</ul>
				<a href="https://www.instagram.com/pazmartorell/" target="_blank" aria-label="Instagram logo">
					<Instagram />
				</a>
			</div>
			</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: #673ECD;
		--accent-bg-light: #673ECD10;
		--accent-bg-solid: #F3F0FB;
		--accent-bg: #673ECD30;
		--accent-gradient: linear-gradient(
			-45deg,
			var(--accent-bg-light) 0%,
			var(--accent-bg) 40%
		);
	}
	html {
		font-family: 'Lora', serif;
		background: #fff;
		background-size: 224px;
	}
	p, button, a, legend, label, input{
		font-family: 'Montserrat', sans-serif;
	}

	.lora {
		font-family: 'Lora', serif;
	}

	.animation {
		opacity: 0;
	}
</style>
